<div class="portfolio-bg">
  <div class="portfolio-container">
    <div class="portfolio-header" #portfolioHeader>
      <!-- <app-dp-logo
        [height]="dpLogoStyle.height"
        [width]="dpLogoStyle.width"
        [borderWidth]="dpLogoStyle.borderWidth">
      </app-dp-logo> -->
      <app-typing
        time="2000"
        delay="1500"
        [text]="animatedTypingText">
      </app-typing>
    </div>
    <div class="portfolio-area" #portfolioArea>
      <div class="back-icon" (click)="onBackBtnClick()">
        <app-back-icon></app-back-icon>
      </div>
     
        <h1>PORTFOLIO</h1>
      <div class="wrap">
        <div class='card'>
          <div class='topcard'>
          <img src="assets/img/what-is-lot.png" height="200" width="200">
        </div> 
        <div class='bottomcard'></div>
           <h4 style='margin-top: 50px; margin-left:10px;'><b>FACE RECOGNITION</b></h4>
           <p style='  margin-left:10px;'>Facial Recognition and detection using Raspberry pi and automatic store in cloud.

            </p>
        
      </div>
      <div class='card'>
          <div class='topcard'>
          <img src="assets/img/Jetpack_logo.png" height="200" width="200">
        </div> 
        <div class='bottomcard'></div>
           <h4 style='margin-top: 50px; margin-left:10px;'><b>News App</b></h4>
           <p style='  margin-left:10px;'>News app for android using live api. https://github.com/cuckooinc/news News Feed to read news articles from the most popular news websites.

            </p>
        
      </div> 
      <div class='card'>
          <div class='topcard'>
          <img src="assets/img/cc.jpg" height="200" width="200">
        </div> 
        <div class='bottomcard'></div>
           <h4 style='margin-top: 50px; margin-left:10px;'><b>Private cloud</b></h4>
           <p style='  margin-left:10px;'>Automate deployment of Cloud Computing & Virtualisation using Containerized Docker Integration on Linux System using Python provisioned by DevOps (Ansible)
            </p>
        
      </div>
         
      </div> 
        <!-- <app-key-skill-btns></app-key-skill-btns>
      </div>
      <app-projects></app-projects>
    </div> -->
  </div>
</div> 
</div>

