<div class="overlay"></div>
<div class="root-container">
  <div class="navbar">
    <div class="nav-items">
      <a [routerLink]="['/portfolio']" class="nav-item">Portfolio</a>
      <a [routerLink]="['/work-experience']" class="nav-item">Work Experience</a>
      <a [routerLink]="['/about']" class="nav-item">About & Skills</a>
      <a [routerLink]="['/profiles']" class="nav-item">Profiles</a>
    </div>
  </div>

  <div class="container">
    <img src="assets/img/RB-Logo.png" alt="Rishabh Bhatia Logo">
    <h4 class="short-bio">Data Scientist | AI Engineer | MLOps</h4>

    <q class="quote"></q>
    <div class="name">
      <p>
        RISHABH BHATIA
      </p>
      <div class="strip"></div>
    </div>

    <!-- <span (click)="onExploreMeClick()" (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
      <button class="special-btn">
        <span>
          Explore Me
        </span>
      </button>
    </span> -->

    <!-- <div class="stick">
      <div class="stick-design"></div>
    </div> -->
  </div>

</div>
